<ion-header>
  <ion-toolbar>
    <ion-button (click)="navigateToUnits()" slot="start"  fill="clear">
         <ion-icon slot="icon-only" name="home" color="dark" ></ion-icon>
      </ion-button>
    <ion-title>Discussion Board</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--skeleton before loading-->

  <ion-list *ngIf="!loaded">
   <ion-item >
       <ion-avatar slot="start">
         <ion-skeleton-text animated></ion-skeleton-text>
       </ion-avatar>
     <ion-label>
       <p><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></p>
       <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
       <p><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
     </ion-label>
    </ion-item>
  </ion-list>

<!--< afterloading >-->
<div *ngIf="loaded">
 <div class="container" padding>
    <ion-item  class="message left">
      <img class="user-img"  alt="" src="../../assets/coyote-logo.png">
      <div class="msg-detail">
        <ion-label class="msg-info">{{ loaded.sender }}</ion-label>
        <ion-text class="msg-content">
          <!--<span class="triangle"></span>-->
          {{ loaded.message }}
        </ion-text>
      </div>
    </ion-item>
     <ion-item  class="message left">
      <img class="user-img"  alt="" src="../../assets/coyote-logo.png">
      <div class="msg-detail">
        <ion-label class="msg-info">{{ loaded.sender }}</ion-label>
        <ion-text class="msg-content">
          <!--<span class="triangle"></span>-->
          {{ loaded.message }}
        </ion-text>
      </div>
    </ion-item>
  </div>
</div>

    <!--sending button-->
  <ion-footer no-border>
    <div class="input-wrap">
      <textarea #messageInput placeholder="Enter your message!" [(ngModel)]="chatMessage" (keyup.enter)="sendMessage()">
      </textarea>
      <button ion-button clear icon-only item-right (click)="sendMessage()">
        <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
      </button>
    </div>
  </ion-footer>

</ion-content>
