@media only screen and (min-width:360px) {
  ion-card{
    background: #D6FA8C;
    max-width: 344px;
  }
  .cardcontainer {
    margin-left: 8px;
    margin-right: 8px;
  }
}
@media only screen and (min-width:390px) {
  ion-card{
    background: #D6FA8C;
  max-width: 344px;
  }
  .cardcontainer {
    margin-left: 23px;
    margin-right: 23px;
  }
}
@media only screen and (min-width:420px) {
  ion-card{
    background: #D6FA8C;
  max-width: 344px;
  }
  .cardcontainer {
    margin-left: 16%;
    margin-right: 38px;
  }
}
@media only screen and (min-width:540px) {
  ion-card{
    background: #D6FA8C;
  max-width: 344px;
  }
  .cardcontainer {
    margin-left: 20%;
    margin-right: 97px;
  }
}
@media only screen and (min-width:600px) {
  ion-card{
    background: #D6FA8C;
  max-width: 344px;
  }
  .cardcontainer {
    margin-left: 22%;
    margin-right: 128px;
  }
}
@media only screen and (min-width:800px) {
  ion-card{
    background: #22E4AC;
  max-width: 344px;
  }
  .cardcontainer {
    margin-left: 33%;
    margin-right: 228px;
  }

}

.pageBody {
  --background: #00C9FF;  /* fallback for old browsers */
  --background: -webkit-linear-gradient(to bottom, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
  --background: linear-gradient(to bottom, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

