ion-content{
  --background: #00C9FF;  /* fallback for old browsers */
  --background: -webkit-linear-gradient(to bottom, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
  --background: linear-gradient(to bottom, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}
.buttonimage{
  max-width: 140px;
  max-height: 140px;
}


ion-segment-button{
  padding-top: 5px;
  font-weight: bold;
  color: #222428;
  height: 45px;
  background-color: #ffce00;
}

ion-list-header{
  background-color: coral;
}

@media only screen and (min-width:360px) {
  ion-card{
  max-width: 344px;
  }
  .cardcontainer {
    margin-left: 8px;
    margin-right: 8px;
  }
}
@media only screen and (min-width:390px) {
  ion-card{
  max-width: 344px;
  }
  .cardcontainer {
    margin-left: 23px;
    margin-right: 23px;
  }
}
@media only screen and (min-width:420px) {
  ion-card{
  max-width: 344px;
  }
  .cardcontainer {
    margin-left: 16%;
    margin-right: 38px;
  }
}
@media only screen and (min-width:540px) {
  ion-card{
  max-width: 344px;
  }
  .cardcontainer {
    margin-left: 20%;
    margin-right: 97px;
  }
}
@media only screen and (min-width:600px) {
  ion-card{
  max-width: 344px;
  }
  .cardcontainer {
    margin-left: 22%;
    margin-right: 128px;
  }
}
@media only screen and (min-width:800px) {
  ion-card{
  max-width: 344px;
  }
  .cardcontainer {
    margin-left: 33%;
    margin-right: 128px;
  }
}
