<ion-header>
  <ion-toolbar>
      <ion-button (click)="navigateToUnits()" slot="start"  fill="clear">
         <ion-icon slot="icon-only" name="home" color="dark" ></ion-icon>
      </ion-button>
    <ion-title>
     Online Classes
    </ion-title>
       <ion-button (click)="navigateToHelp()" slot="end" fill="clear" color="dark">
           Help
         <ion-icon name="help-circle" color="dark" ></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-card color="dark">
        <ion-card-content>
           <ion-card-title>Live Virtual Class  </ion-card-title>
            <ion-card-subtitle> Live Class is only available during Regular class times. Please refer to class Schedules.  To see class schedules: <ion-button (click)="gotoTimePage()" fill="clear"> Click Here </ion-button>   </ion-card-subtitle>
            <ion-button color="success" (click)="navigateToVrView()">Join Virtual Class</ion-button>
        </ion-card-content>
    </ion-card>
    <ion-card color="dark">
        <ion-card-content>
           <ion-card-title>3D Models on AR  </ion-card-title>
            <ion-card-subtitle> Please Accept camera access to see some of the 3D models. </ion-card-subtitle>
               <ion-button (click)="navigateToArObjects()" color="success" >Augmented Reality </ion-button>
        </ion-card-content>
    </ion-card>
    <ion-card color="dark">
        <ion-card-content>
           <ion-card-title>Join Session  </ion-card-title>
            <ion-card-subtitle> Join online session. Supports Most Browser.</ion-card-subtitle>
            <p> This button is currently disabled </p>
                <ion-button color="medium" disabled> Join Session</ion-button>
        </ion-card-content>
    </ion-card>


</ion-content>
