<ion-header>
  <ion-toolbar>
      <ion-button (click)="navigateToUnits()" slot="start"  fill="clear">
         <ion-icon slot="icon-only" name="home" color="dark" ></ion-icon>
      </ion-button>
    <ion-title>
     Online Classes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="dark">
        <ion-card-content>
           <ion-card-title>Live Virtual Class  </ion-card-title>
            <ion-card-subtitle> Join Unit 1 Virtual Class during Regular class times. </ion-card-subtitle>
               <ion-button color="medium">join Virtual Class</ion-button>
        </ion-card-content>
    </ion-card>
    <ion-card color="dark">
        <ion-card-content>
           <ion-card-title>3D Models on AR  </ion-card-title>
            <ion-card-subtitle> Please Accept camera access to see some of the 3D models. </ion-card-subtitle>
               <ion-button (click)="navigateToArObjects()" color="success" >Augmented Reality </ion-button>
        </ion-card-content>
    </ion-card>
    <ion-card color="dark">
        <ion-card-content>
           <ion-card-title>Join Session  </ion-card-title>
            <ion-card-subtitle> Join Unit 1 Virtual Class during Regular class times. </ion-card-subtitle>
                <ion-button color="medium"> Join Session</ion-button>
        </ion-card-content>
    </ion-card>





</ion-content>
